<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <application android:theme="@style/AppTheme" android:label="音乐下载器" android:allowBackup="true" android:supportsRtl="true" android:icon="@drawable/icon06">
  <activity android:name=".MainActivity" android:exported="true"/>
  <activity-alias android:name=".Icon01" android:enabled="false" android:exported="true" android:icon="@drawable/icon01" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon02" android:enabled="false" android:exported="true" android:icon="@drawable/icon02" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon03" android:enabled="false" android:exported="true" android:icon="@drawable/icon03" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon04" android:enabled="false" android:exported="true" android:icon="@drawable/icon04" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon05" android:enabled="false" android:exported="true" android:icon="@drawable/icon05" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon06" android:enabled="true" android:exported="true" android:icon="@drawable/icon06" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon07" android:enabled="false" android:exported="true" android:icon="@drawable/icon07" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon08" android:enabled="false" android:exported="true" android:icon="@drawable/icon08" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
  <activity-alias android:name=".Icon09" android:enabled="false" android:exported="true" android:icon="@drawable/icon09" android:label="音乐下载器" android:targetActivity=".MainActivity"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity-alias>
 </application>
</manifest>
